html{
	padding: 0;
	margin: 0;
}
.header{
	border: black solid;
	width: 100%;
	height: 46px;
}
.header-list{
	
}
.header-list ul, li{
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	gap: 10px 20px;
	padding: 0 0 0 0;
}
.header-list a{
	text-decoration: none;
	color: black;

}